In [1]:
2+5

7

In [2]:
4*5

20

In [3]:
5-1

4

In [4]:
20/4

5.0

In [5]:
2**3

8

In [6]:
'Ola'

'Ola'

In [7]:
"Hi there" + "ola"

'Hi thereola'

In [8]:
'Ola' * 3

'OlaOlaOla'

In [9]:
"Runnin' down hill "

"Runnin' down hill "

In [10]:
'ola'.upper()

'OLA'

In [11]:
len("ola")

3

In [12]:
len.(str(320644))

SyntaxError: invalid syntax (<ipython-input-12-600407ce9f83>, line 1)

In [13]:
len(str(320644))

6

In [14]:
name = ola

NameError: name 'ola' is not defined

In [15]:
name = "Ola"

In [16]:
name

'Ola'

In [17]:
name = 'Sonja'
name

'Sonja'

In [18]:
len(name)

5

In [19]:
a = 5
b = 4
a * b

20

In [20]:
city = 'Tokyo'
ctiy

NameError: name 'ctiy' is not defined

In [21]:
name = "Maria"
name
print(name)

Maria

In [22]:
[]

[]

In [23]:
Lotery = [3, 42, 19, 12, 30, 59]

In [24]:
len(Lotery)

6

In [27]:
Lotery.sort()

In [29]:
print(Lotery)

[3, 12, 19, 30, 42, 59]

In [30]:
Lotery.reverse()
print(Lotery)

[59, 42, 30, 19, 12, 3]

In [31]:
Lotery.append(199)
print(Lotery)

[59, 42, 30, 19, 12, 3, 199]

In [32]:
print(Lotery[0])
print(Lotery[1])

59
42

In [33]:
print(Lotery)

[59, 42, 30, 19, 12, 3, 199]

In [34]:
print(Lotery[0])
Lotery.pop(0)
print(Lotery)

59
[42, 30, 19, 12, 3, 199]

In [35]:
{}

{}

In [36]:
participant = {'name':'Ola',
               'country':'Poland',
               'favorite_numbers':[7, 42, 92]}

In [37]:
print (participant['name'])

Ola

In [38]:
participant['age']

KeyError: 'age'

In [39]:
participant['favorite_language'] = 'Python'

In [40]:
len(participant)

4

In [42]:
participant.pop('favorite_numbers')

[7, 42, 92]

In [43]:
participant

{'name': 'Ola', 'country': 'Poland', 'favorite_language': 'Python'}

In [44]:
participant['country'] = 'Germany'

In [45]:
participant

{'name': 'Ola', 'country': 'Germany', 'favorite_language': 'Python'}

In [46]:
5 > 2

True

In [47]:
3<1

False

In [48]:
5>2*2

True

In [49]:
1 == 1

True

In [50]:
5 != 2

True

In [51]:
6 >= 12/2

True

In [52]:
3 <= 2

False

In [53]:
6 > 2 and 2 < 3

True

In [54]:
6 > 2 and 2 > 3

False

In [55]:
6 > 2 or 2 > 3

True

In [56]:
1 > 'Django'

TypeError: '>' not supported between instances of 'int' and 'str'

In [57]:
a = True

In [58]:
a

True

In [59]:
a  = 2 > 5

In [60]:
a

False

In [61]:
True and True

True

In [62]:
False and True

False

In [63]:
True or 1 == 1

True

In [64]:
1 != 2

True

In [65]:
if 3 > 2

SyntaxError: invalid syntax (<ipython-input-65-dbc4c5f7f49e>, line 1)

In [66]:
if 3 > 2:
    print("It's work!!!")

It's work!!!

In [67]:
if 5 > 2:
    print('5 is indeed greater than 2')
else:
    print ('5 is not greater than 2')

5 is indeed greater than 2

In [69]:
name = "Sonja"
if name == "Ola":
    print('Hi Ola')
elif name == "Sonja":
    print('Hi Sonja')
else:
    print('Hi anonimys')

Hi Sonja

In [70]:
volume = 57
if volume < 20:
    print("It's kinda quiet.")
elif 20 <= volume < 40:
    print("It's nice for background music")
elif 40 <= volume < 60:
    print("Perfect, I can hear all the details")
elif 60 <= volume < 80:
    print("Nice for parties")
elif 80 <= volume < 100:
    print("A bit loud!")
else:
    print("My ears are hurting! :(")

Perfect, I can hear all the details

In [71]:
def hi():
    print('Hi there!')
    print('How are you?')

In [72]:
hi()

Hi there!
How are you?

In [73]:
def hi(name):
    if name == 'Ola':
        print('Hi Ola!')
    elif name == 'Sonja':
        print('Hi Sonja!')
    else:
        print('Hi anonymous!')

In [74]:
hi()

TypeError: hi() missing 1 required positional argument: 'name'

In [75]:
hi("Ola")

Hi Ola!

In [76]:
hi("Sonja")

Hi Sonja!

In [77]:
hi('KKKK')

Hi anonymous!

In [78]:
def hi(name):
    print('Hi ' + name + '!')

In [79]:
hi('Rachel')

Hi Rachel!

In [80]:
girls = ['Rachel', 'Monica', 'Phoebe', 'Ola', 'You']

In [81]:
for name in girls:
    hi(name)
    print('Next girl')

Hi Rachel!
Next girl
Hi Monica!
Next girl
Hi Phoebe!
Next girl
Hi Ola!
Next girl
Hi You!
Next girl

In [83]:
for i in range (1,6):
    print(i)

1
2
3
4
5

In [84]:
!dir

 Том в устройстве C не имеет метки.
 Серийный номер тома: CA31-2A68

 Содержимое папки C:\Users\TEMP.EDU.016

20.10.2018  15:04    <DIR>          .
20.10.2018  15:04    <DIR>          ..
20.10.2018  14:08    <DIR>          .anaconda
20.10.2018  15:24    <DIR>          .conda
20.10.2018  14:09                43 .condarc
20.10.2018  15:04    <DIR>          .ipynb_checkpoints
20.10.2018  14:10    <DIR>          .ipython
20.10.2018  14:09    <DIR>          .jupyter
20.10.2018  13:39    <DIR>          .oracle_jre_usage
20.10.2018  13:33    <DIR>          3D Objects
20.10.2018  13:33    <DIR>          Contacts
20.10.2018  13:33    <DIR>          Desktop
20.10.2018  13:49    <DIR>          Downloads
20.10.2018  13:33    <DIR>          Favorites
20.10.2018  15:04    <DIR>          Laba1
20.10.2018  13:33    <DIR>          Links
20.10.2018  13:36    <DIR>          OneDrive
20.10.2018  13:33    <DIR>          Saved Games
20.10.2018  13:33    <DIR>          Searches
               1 файлов             43 байт
              18 папок  28 236 476 416 байт свободно

In [ ]:
`