In [2]:
2+5

7

In [4]:
3*8

24

In [6]:
2 ** 2

4

In [8]:
"Alex"

'Alex'

In [10]:
"Alex"+"Prog"

'AlexProg'

In [12]:
name = "Alex"

In [14]:
name

'Alex'

In [16]:
"Alex"*3

'AlexAlexAlex'

In [18]:
"Alex\' tytytyt"

"Alex' tytytyt"

In [20]:
"Alex".upper()

'ALEX'

In [22]:
len("Alex")

4

In [24]:
len(str(764869486))

9

In [26]:
len(name)

4

In [28]:
a = 5
b = 4
c = 2

In [30]:
a + b/c

7.0

In [32]:
print(name)

Alex

In [36]:
lottery = [3,2,7,4,56,45,69]

In [38]:
len(lottery)

7

In [40]:
lottery.sort()

In [42]:
print(lottery)

[2, 3, 4, 7, 45, 56, 69]

In [47]:
lottery.reverse()

In [49]:
print(lottery)

[69, 56, 45, 7, 4, 3, 2]

In [51]:
lottery.append(199)

In [53]:
print(lottery)

[69, 56, 45, 7, 4, 3, 2, 199, 199]

In [61]:
lottery.reverse()

In [63]:
print(lottery)

[199, 199, 2, 3, 4, 7, 45, 56, 69]

In [65]:
print(lottery[1])

199

In [67]:
print(lottery[5])

7

In [69]:
print(lottery[0])

199

In [71]:
lottery.pop(0)

199

In [73]:
print(lottery)

[2, 3, 4, 7, 45, 56, 69]

In [75]:
{}

{}

In [82]:
participant = {'name': 'Alex', 'country': 'Russia', 'numbers' : [1, 4, 2]}

In [85]:
print(participant['name'])

Alex

In [87]:
participant['numbers'] = 'Python'

In [89]:
len(participant)

3

In [94]:
participant

{'name': 'Alex', 'country': 'Russia'}

In [98]:
participant['country'] = 'USA'

In [100]:
participant

{'name': 'Alex', 'country': 'USA'}

In [102]:
5 > 3

True

In [104]:
3 > 5

False

In [106]:
5 != 2

True

In [108]:
a = 5 > 3

In [110]:
a

True

In [112]:
b = 3>5

In [114]:
b

False

In [116]:
c = 3 == 3

In [118]:
c

True

In [120]:
d = 3 != 4

In [122]:
d

True

In [125]:
if 3 > 2:
   print('EeeBoy')

EeeBoy

In [127]:
if 5 > 2:
    print('5 is indeed greater than 2')
else:
    print('5 is not greater than 2')

5 is indeed greater than 2

In [129]:
name = 'Alex'
if name == 'Ola':
    print('Hey Ola!')
elif name == 'Alex':
    print('Hey ALex!')

Hey ALex!

In [132]:
#Lalalalalalallala
4+5

9

In [134]:
def hi():
    print('Hi there!')
    print('How are you?')

hi()

Hi there!
How are you?

In [136]:
hi()

Hi there!
How are you?

In [141]:
def hi(name):
    if name == 'Ola':
        print('Hi Ola!')
    elif name == 'Alex':
        print('Hi Alex!')
    else:
        print('Hi anonymous!')

hi('')

Hi anonymous!

In [143]:
def hi(name):
    print('Hi ' + name + '!')

hi("JEKA")

Hi JEKA!

In [145]:
girls = ['Rachel', 'Monica', 'Phoebe', 'Ola', 'I']

In [148]:
def hi(name):
    print('Hi ' + name + '!')

girls = ['Rachel', 'Monica', 'Phoebe', 'Ola', 'I']
for name in girls:
    hi(name)
    print('Next girl')

Hi Rachel!
Next girl
Hi Monica!
Next girl
Hi Phoebe!
Next girl
Hi Ola!
Next girl
Hi I!
Next girl

In [149]:
for i in range (1,10):
    print(i)

1
2
3
4
5
6
7
8
9