In [1]:
2 + 3

5

In [2]:
4 * 5

20

In [4]:
5 - 1

4

In [7]:
40 / 2

20.0

In [8]:
2 ** 3

8

In [10]:
"Ola"

'Ola'

In [11]:
"Hi there " + "Ola"

'Hi there Ola'

In [12]:
"Ola" * 3

'OlaOlaOla'

In [14]:
"Runnin\' down the hill"

"Runnin' down the hill"

In [15]:
"Ola".upper()

'OLA'

In [16]:
len("Ola")

3

In [17]:
len(str(304023))

6

In [21]:
name = "Ola"
name

'Ola'

In [23]:
a = 4
b = 6
a * b

24

In [25]:
city = "Tokyo"

NameError: name 'cityy' is not defined

In [28]:
name = 'Maria'
name
print(name)

Maria

In [29]:
lottery = [3, 42, 12 ,19 ,30 ,59]
len(lottery)
lottery.sort()
print(lottery)

[3, 12, 19, 30, 42, 59]

In [30]:
lottery = [3, 42, 12 ,19 ,30 ,59]
len(lottery)
lottery.reverse()
print(lottery)

[59, 30, 19, 12, 42, 3]

In [32]:
lottery = [3, 42, 12 ,19 ,30 ,59]
len(lottery)
lottery.append(199)
print(lottery)

[3, 42, 12, 19, 30, 59, 199]

In [33]:
lottery = [3, 42, 12 ,19 ,30 ,59]
len(lottery)
lottery.sort()
print (lottery[0])
print (lottery[1])

3
12

In [34]:
lottery = [3, 42, 12 ,19 ,30 ,59]
print(lottery)
lottery.pop(0)
print(lottery)

[3, 42, 12, 19, 30, 59]
[42, 12, 19, 30, 59]

In [35]:
lottery = [6, 7, 1000 , -1, -6, -1000]
print(lottery)
lottery.pop(0)
print(lottery)

[6, 7, 1000, -1, -6, -1000]
[7, 1000, -1, -6, -1000]

In [49]:
participant = {'name': 'Ola', 'country': 'Poland', 'favorite_numbers': [7, 42, 92]}

In [50]:
participant.pop('favorite_numbers')

[7, 42, 92]

In [51]:
participant['country'] = 'Germany'

In [52]:
participant

{'name': 'Ola', 'country': 'Germany'}

In [53]:
5>2

True

In [54]:
5<4

False

In [55]:
5>2*2

True

In [56]:
1==1

True

In [57]:
5!=2

True

In [58]:
6 >= 12 / 2

True

In [59]:
3 <= 2

False

In [60]:
6 > 2 and 2 < 3

True

In [62]:
3 > 2 and 2 < 1

True

In [63]:
3 > 2 or 2 < 1

True

In [65]:
a = True
a

True

In [66]:
a = 2 > 5
a

False

In [67]:
True and True

True

In [68]:
False and True

False

In [69]:
True or 1 == 1

True

In [70]:
1 != 2

True

In [72]:
if 3 > 2:
    print('It works!')

It works!

In [74]:
if 5 > 2:
    print('5 is indeed greater than 2')
else:
    print('5 is not greater than 2')

5 is indeed greater than 2

In [75]:
name = 'Sonja'
if name == 'Ola':
    print('Hey Ola!')
elif name == 'Sonja':
    print('Hey Sonja!')
else:
    print('Hey anonymous!')

Hey Sonja!

In [76]:
volume = 57
if volume < 20:
    print("It's kinda quiet.")
elif 20 <= volume < 40:
    print("It's nice for background music")
elif 40 <= volume < 60:
    print("Perfect, I can hear all the details")
elif 60 <= volume < 80:
    print("Nice for parties")
elif 80 <= volume < 100:
    print("A bit loud!")
else:
    print("My ears are hurting! :(")

Perfect, I can hear all the details

In [78]:
def hi():
    print('Hi there!')
    print('How are you?')
    
hi()

Hi there!
How are you?

In [84]:
name = input()

def hi(name):
    if name == 'Ola':
        print('Hi Ola!')
    elif name == 'Sonja':
        print('Hi Sonja')
    else:
        print('Hi anonymous!')
hi(name)

Ola
Hi Ola!

In [86]:
name = input()

def hi(name):
    print('Hi ' + name + '!')

hi(name)

Any
Hi Any!

In [87]:
def hi(name):
    print('Hi ' + name + '!')

girls = ['Rachel', 'Monica', 'Phoebe', 'Ola', 'You']
for name in girls:
    hi(name)
    print('Next girl')

Hi Rachel!
Next girl
Hi Monica!
Next girl
Hi Phoebe!
Next girl
Hi Ola!
Next girl
Hi You!
Next girl

In [88]:
for i in range(1, 6):
    print(i)

1
2
3
4
5